<h1>Welcome to Viewing Party!</h1>
<h3>Viewing Party is an application in which users can explore movie options and create a viewing party event for the user and friends.</h3>

<center><%= button_to "Log In", login_path %>
<br>
<%= link_to "Register for an Account", new_user_path %></center>
