---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=Private movie key&en-US&include_adult=false&page=1&query=venom
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/VuukZLgaCrho2Ar8Scl9HtV3yD.jpg","genre_ids":[878,28],"id":335983,"original_language":"en","original_title":"Venom","overview":"Investigative
        journalist Eddie Brock attempts a comeback following a scandal, but accidentally
        becomes the host of Venom, a violent, super powerful alien symbiote. Soon,
        he must rely on his newfound powers to protect the world from a shadowy organization
        looking for a symbiote of their own.","popularity":3383.577,"poster_path":"/2uNW4WbgBXL25BAbXGLnLqX71Sw.jpg","release_date":"2018-09-28","title":"Venom","video":false,"vote_average":6.8,"vote_count":11744},{"adult":false,"backdrop_path":"/lNyLSOKMMeUPr1RsL4KcRuIXwHt.jpg","genre_ids":[878,28],"id":580489,"original_language":"en","original_title":"Venom:
        Let There Be Carnage","overview":"After finding a host body in investigative
        reporter Eddie Brock, the alien symbiote must face a new enemy, Carnage, the
        alter ego of serial killer Cletus Kasady.","popularity":10175.435,"poster_path":"/rjkmN1dniUHVYAtwuV3Tji7FsDO.jpg","release_date":"2021-09-30","title":"Venom:
       [...]
