---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/10439/videos?api_key=Private movie key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 825a5bdfe5992c0eb31aaa227387453b03142255
      X-Memc-Age:
      - '462'
      X-Memc-Expires:
      - '16814'
      Etag:
      - W/"757230a6c53e31d427b8871403e6d82d"
    body:
      encoding: ASCII-8BIT
      string: '{"id":10439,"results":[{"iso_639_1":"en","iso_3166_1":"US","name":"Hocus
        Pocus (1993) Trailer","key":"OFm_2RyxXjQ","published_at":"2016-09-25 18:41:18
        UTC","site":"YouTube","size":720,"type":"Trailer","official":false,"id":"58b76f78925141611900161f"},{"iso_639_1":"en","iso_3166_1":"US","name":"Hocus
        Pocus - Movie Trailer - (1993)","key":"Oryofd_T-ng","published_at":"2010-03-22
        16:43:27 UTC","site":"YouTube","size":360,"type":"Trailer","official":false,"id":"533ec66ac3a3685448001afa"}]}'
  recorded_at: Tue, 19 Oct 2021 01:49:13 GMT
recorded_with: VCR 6.0.0
