/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
 @import "bootstrap";

 body {
  background-color: #141414;
  color: #fff;
  font-family: Didot, serif;
 }

 hr {
       height: 1px;
       background-color: #3E9C87;
       border: none;
    }


.btn {
	background-image: linear-gradient(to right, #006175 0%, #00a950 100%);
	border-radius: 80px;
  box-sizing: border-box;
	color: #fff;
	display: block;
	font: 1.125rem Didot, serif; /*18*/
	height: 32px;
	letter-spacing: 0.1px;
	margin: 0 auto;
	padding: 4px;
	position: relative;
  text-decoration: none;
	width: 132px;
	z-index: 2;
}

.btn:hover {
	color: #fff;
}

.btn span {
	align-items: center;
	background: #e7e8e9;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	height: 100%;
	transition: background .5s ease;
	width: 100%;
}

.btn:hover span {
	background: transparent;
}

input, textarea{
    background-color:#666;
    color: #FFF;
}

footer {
  padding: 10px
}
