---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/11395/videos?api_key=Private movie key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - '069257f1212d2f12db5e263291c21222173bdbed'
      X-Memc-Age:
      - '11912'
      X-Memc-Expires:
      - '5301'
      Etag:
      - W/"b6d98754c954b56f7bb127ba3fdd8314"
    body:
      encoding: ASCII-8BIT
      string: '{"id":11395,"results":[{"iso_639_1":"en","iso_3166_1":"US","name":"The
        Santa Clause (1994) Trailer #1 | Movieclips Classic Trailers","key":"Bx8FX7etF_8","published_at":"2017-12-06
        19:53:02 UTC","site":"YouTube","size":720,"type":"Trailer","official":false,"id":"5b8d00acc3a368520f046dc1"}]}'
  recorded_at: Tue, 19 Oct 2021 01:37:05 GMT
recorded_with: VCR 6.0.0
