---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/10680/credits?api_key=Private movie key&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 36ce45156f60e81514477910a54db1c93cea0829
      X-Memc-Age:
      - '3660'
      X-Memc-Expires:
      - '10927'
      Etag:
      - W/"6edf5434a7ffe2693897f9ab8451a9b7"
    body:
      encoding: ASCII-8BIT
      string: '{"id":10680,"cast":[{"adult":false,"gender":2,"id":2880,"known_for_department":"Acting","name":"Emilio
        Estevez","original_name":"Emilio Estevez","popularity":4.536,"profile_path":"/d0hxl7DnWQncAB0SBCpbMQyWtLo.jpg","cast_id":1,"character":"Gordon
        Bombay","credit_id":"52fe43a19251416c7501802d","order":0},{"adult":false,"gender":2,"id":24048,"known_for_department":"Acting","name":"Jeffrey
        Nordling","original_name":"Jeffrey Nordling","popularity":5.639,"profile_path":"/ncN63j4FAErxhXCsFZtWdskcp48.jpg","cast_id":2,"character":"Ted
        Orion","credit_id":"52fe43a19251416c75018031","order":1},{"adult":false,"gender":2,"id":56930,"known_for_department":"Acting","name":"David
        Selby","original_name":"David Selby","popularity":3.994,"profile_path":"/w7OUsn0tXFV3p056704eP7DkrcP.jpg"[...]
